doctype html
head
  meta(charset='UTF-8')
  title Sample Site
  include includes/header.pug
  link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
.container
  .jumbotron
    h1 About Page Works!
h2 About
p
  | Nothing to really say here. Most people talk abut themselves but all you'll get from me is about my path. I'm
  | not much of a people person
script(src='app.js')