doctype html
head
  meta(charset='UTF-8')
  title Sample Site
  include includes/header.pug
  link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
.container
  .jumbotron
    h1 Home Page Works!
h2 Home
p
  |Just a simple home page. Ain't nothing special
script(src='app.js')
    
