doctype html
head
  meta(charset='UTF-8')
  title Sample Site
  include includes/header.pug
  link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
.container
  .jumbotron
    h1 Random Page Works!
h2 Tu Fui Ego Eris
p
  |Fortuna, Prosperitas et Abundantia. Habeo Omnia. Pecunia venit ad me. Habeo Omnia. Fortuna, Prosperitas et
  |Abundatia. Omnia quae volo, Habeo. Omnia quae volo, Habeo. Omnia quae volo, Habeo.
p
  |Fortune, Prosperity, and Abundance. I have everything. Money is coming to me. I have everything. Fortune,
  |Prosperity, and Abundance. Everything I want, I have. Everything I want, I have. Everything I want, I have.

script(src='app.js')